/* 
    Created on : 10/08/2020, 07:04:51 PM
    Author     : oscar
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
#registered-form{
    font-size:1.5em;
    padding:40px;
    box-sizing:border-box;
}
button{
    cursor:pointer;
    border:solid;
}
button.active{
    background:#000;
    color:#fff;
}
#registered-form input{
    font-family: "Fira code", monospace;
}
#registered-form input,#registered-form button{
    font-size:1.3em;
    margin-bottom:5px;
}
#registered-container{
    display:none;
    font-size:1em;
    padding:40px;
    box-sizing:border-box;
    font-family: "Fira code", monospace; 
    max-height: calc(100vh - 110px);
    overflow-y:scroll;
}
#registered-container table{
    width:100%;
}

#registered-container th{
    background:#eee;
    border: solid 2px #fff;
    padding:3px;
    color:#000;
}
#registered-container td{
    background:#fff;
    border: solid 2px #eee;
    padding:3px;
    color:#000;
}

#chat-div{
    font-family: "Fira code", monospace;
    width: calc(100% - 50px);
    height: calc(70% - 80px);
    overflow-y: scroll;
    margin-left: 25px;
}
#chat-users-div{
    font-family: "Fira code", monospace;
    width: calc(100% - 50px);
    color:#600;
    height: calc(30% - 80px);
    overflow-y:scroll;
    margin-left: 25px;
}
#chat-table,#chat-users-table{
    width:100%;
}

#chat-table td,#chat-users-table td{
    background:#fff;
    border: solid 2px #eee;
    padding:3px;
}
.chat-enterprise, .chat-position{
    color:#F8662A;
}
.chat-sender{
    font-size:0.8em;
    font-weight:bold;
}
.chat-sender span{
    margin-right:10px;
}
.ban-btn{
    background-color:#ffff00;
    color:#000;
    border: solid 1px #000;
    border-radius:3px;
    margin-left:5px;
}

.delete-btn{
    background-color:#440000;
    color:#fff;
    border: solid 1px #000;
    border-radius:3px;
    margin-left:5px;
}
.cancel-btn{
    background-color:#440000;
    color:#fff;
    border: solid 1px #000;
    border-radius:3px;
    margin-left:5px;
}
.ok-btn{
    background-color:#000033;
    color:#fff;
    border: solid 1px #000;
    border-radius:3px;
    margin-left:5px;
}

.deleted .chat-message{
    color:#aaa;
    text-decoration: line-through;
}
.deleted img{
    filter: grayscale(100);
}
.chat-message-container {
    margin-top:5px;
    padding-bottom: 5px;
    border-bottom:solid 1px #999;
    background:rgba(0,0,0,0.5);
}
.chat-room{
    color:#ffff00;
}
.banned .chat-name{
    color:#ff0000;
    text-decoration: line-through;
}
.banned .ban-btn, .banned .ban-confirm{
    display:none!important;
}
.forgive-btn{
    background-color:#ddd;
    color:#000;
    border: solid 1px #000;
    border-radius:3px;
    margin-left:5px;
}
#stats-table{
    width:50%;
}
#stats-table th:first-child{
    text-align:left;
}
#stats-table th:not(:first-child){
    text-align:right;
}
#stats-table td:not(:first-child){
    text-align:right;
}