
/* 
    Created on : 2/08/2020, 09:11:44 PM
    Author     : oscar
*/

@font-face{
    font-family: Gidole;
    src: url(../font/Gidole-Regular.ttf);
}

@font-face{
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Bold.otf);
    font-weight: bold;
    font-style: normal;
}



html,body{
    position:absolute;
    width:100vw;
    height: 100vh;
    padding:0;
    margin:0;
    color:#000000;
    font-family: Montserrat, sans-serif;
    background:#ffffff;
    overflow-x:hidden;
}
a,a:link,a:visited{
    text-decoration: none;
}
a.stealth-link:link{
    color: inherit;
    text-decoration: none;
}
body{
    background-image: url(../img/background.svg);
    background-size:cover;
    background-repeat:no-repeat
}
main{
    min-height:calc(100vh - 45px);
    overflow: auto;
}
body.dark {
    background: rgb(102,140,53);
    background: linear-gradient(135deg, rgba(102,140,53,1) 0%, rgba(13,19,37,1) 34%, rgba(13,19,37,1) 63%, rgba(102,140,53,1) 100%);
    background-image: url(../img/background.svg);
    background-size:cover;
}

body.success{
    background-image: url(../img/background.svg);
    background-size:cover;
    background-repeat:no-repeat;
}
#success-window{
    position: relative;
    margin-left: 490px;
    margin-top: 110px;
    margin-right: auto;
    background: #ffffff;
    width: calc(100vw - 60px);
    height: calc(100vw - 60px);
    max-width: 428px;
    max-height: 428px;
    padding: 30px;
    background-color: transparent;
    background-image: url(../img/thankyou-square.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
#success-window-content{
    position: fixed;
    top: 270px;
    left: 500px;
    width: 475px;
}
#success-window-title{
    text-align: center;
}
#success-window-title img{
    width:90%;
    max-width:349px;
}
#success-window-check{
    margin-left: 10px;
    width:auto!important;
    vertical-align: middle;
}
h1{
    color:#D0D82E;
    text-transform:uppercase;
}

.main-container{
    min-height:calc(100vh - 190px);
    overflow: auto;
    transition:opacity linear 200ms;
    opacity:0;
}
.main-container.visible{
    opacity:100;
}

footer{
    width: 100vw;
     background: #FFFFFF; 
    /* color: #ffffff; */
    text-align: right;
    box-sizing: border-box;
    line-height: 45px;
    height: 45px;
    font-size: 14px;
    padding-right: 45px;
    position: fixed;
}
footer a:link,footer a:visited{

    margin-right:45px;
}

#footer-powered {
    position: absolute;
    left: 45px;
    height: 35px;
}
#envelope-logo {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 30px;
    top: 10px;
    background-image: url(../img/envelope.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.orange{
    color:#D0D82E;
}
.green{
    color:#D0D82E;
}
.white{
    color:#ffffff;
}

.red{
    color:#E41D2E;
}
/*----------------------- navbar ----*/

#homeicon{
  /*  position:absolute;
    height: 40px;
    width: 65px;*/
    /*background-repeat: no-repeat;*/
 /*   margin-top: 2.2%;
    margin-left: 50%;*/
    /*background-image: url(../img/homeicon.svg);*/
}

#upcontainer{
    height:40px;
}

#navbar{
    height:65px;
    width:100vw;
    overflow:hidden;
    background-size:cover;
    background-color: #ffffff;
    position:absolute;
    /*background: #000;*/
    /*background-image: url(../img/navbar.png);*/
}

#email-container{
    position: absolute;
    margin-left: 700px;
    margin-top: 8%;
    width: 350px;
}
#navbar-logo{
    height:65px;
    width:131px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../img/logo.svg);
    display:inline-block;
    margin-left:82px;
}

#home-icon{
    position:absolute;
    width: 32px;
    height: 32px;
    margin-left: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: 86px;
    background-image: url(../img/home-icon.svg);
    cursor:pointer;
}

#home-icon2{
    position:absolute;
    width: 32px;
    height: 32px;
    margin-left: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: 86px;
    background-image: url(../img/home-icon.svg);
    cursor:pointer;
}
#whiteback{
position: absolute;
width: 1920px;
height: 1080px;
background-image: url(../img/white.png);
background: no-repeat;
}

#encuentro-logo{
    width: 295px;
    height: 248px;
    margin-left: 105px;
    /* background-position: center center; */
    background: no-repeat;
    background-size: contain;
    margin-top: 16%;
    background-image: url(../img/logo.svg);
    display: inline-block;
    position: absolute;
}

#encuentro-logo2{
    width: 295px;
    height: 248px;
    margin-left: 105px;
    /* background-position: center center; */
    background: no-repeat;
    background-size: contain;
    margin-top: 16%;
    background-image: url(../img/logo.svg);
    display: inline-block;
    position: absolute;
}

#encuentro-logo-std{
    width: 500px;
    height: 423px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/logo.svg);
    float: left;
    margin-left: 105px;
    margin-top: 8%;
    display: inline-block;
}

#coca{
    width: 352px;
    height: 155px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/coca.svg);
     position: absolute; 
    float: left;
    margin-left: 0;
    margin-top: 167px;
}


#toggle{
    position:absolute;
    top:0;
    right:0;
    width:65px;
    height:65px;
    line-height: 65px;
    font-size:55px;
    text-align:center;
    cursor:pointer;
    color:#000;
    display:none;
}
#navbar-links{
    float:right;
    height:65px;
    line-height: 65px;
    font-size:1.2em;
    text-transform: uppercase;
}
#navbar-links a:link,#navbar-links a:visited{
    color:#000000!important;
    margin-right:32px;
    opacity:0.8;
    user-select:none;
}
#navbar-links a:hover{
    opacity:1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}
#navbar-links a.active{
    opacity:1!important;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    cursor:default;
    pointer-events:none;
}
#home-link{
    margin-top:5px;
    float:right;
    margin-left:8px;
    /*margin-right:50px;*/
    width:27px;
    display:inline-block;
}
#lang-link img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    top: 7px;
    display:none!important;/* DISABLE LANGUAGE */
}
#social-links{
    float:right;
    margin-top:8px;
}
#social-links a{
    margin-right:5px;
    width:27px;
    display:inline-block;
}
.navbar-bottom{
    display:none;
}
/*-------------------------------------------- Mobile -----*/
/*a:visited {color:inherit!important;}*/
@media only screen and (max-width: 1279px) {
  /*  #navbar{
        background-image: url(../img/navbar.png);
    }
    #navbar-logo{
        margin-left:10px;
    }*/
   /* #toggle{
        display:block;
    }*/
    /*#navbar.extended{
        height:271px;
    }
    #navbar{
        overflow-x:hidden;
        width:100vw;
        background-size:cover;
    }

    #navbar-links{
        float:none;
        height:170px;
        line-height: 15px;
        font-size:20px;
        text-transform: uppercase;
        display:none;
        position:relative;
    }

    #navbar-links.extended{
        display:block;
    }
    #navbar-links a:link,#navbar-links a:visited{
        display:block;
        margin-right:0;
        margin-left:15px;
        color:#000!important;
        height:30px;
    }
    .navbar-bottom{
        position: absolute;
        left: 0;
        bottom: -23px;
        height: 41px;
        width: 100vw;
        background-size: cover;
        background-image: url(../img/navbar.png);
        background-position: right;
        display: block;
        z-index: 1000;

    }*/
    #home-link{
        margin-top:9px;
        float:left;
        margin-left:5px;
        margin-right:5px;
        z-index: 2000;
        position: relative;
    }
    #lang-link{
        margin-top:0;
        float:left;
        margin-left:5px;
        margin-right:5px;
        z-index: 2000;
        position: relative;
    }
    #social-links{
        float: right;
        margin-top: 8px;
        margin-right:20px;
        width:auto;
        display: inline-block;
    }
    #social-links a{
        display:inline!important;
        z-index: 2000;
        position: relative;
    }


    #home-icon{
        margin-top:16px;
        margin-left: 30px;
    }

    #home-icon2{
        margin-top:16px;
        margin-left: 30px;
    }
   /* #encuentro-logo{
        width:80vw;
        height:46vw;
        margin-left:10vw;
        margin-top:48px;
    }*/

    .main-container{
        min-height:calc(100vh - 120px);
    }
    /*footer{
        height:120px;
        text-align:left;
        padding-left:24px;
        padding-right:0;   
        line-height: 26px;
        font-size:14px;
    }
    footer a:link{
        display:block;
        margin-right:0;
    }*/
    #success-window{
        float:left;   
    }
    /*#success-window-content {
        position: absolute;
        top: 31%;
        left: 6%;
        width: 88%;
        line-height: 19px;
        font-size: 0.8em;
    }*/
    /*#success-window-content p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #success-window-content h3 {
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }*/
}

/*---------------------------------------------------- About -------*/
#about-container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    max-width:1290px;
    font-size:1.8rem;
}
@media only screen and (max-width: 1279px) {
    #about-container{
        font-size:0.8rem;
    }

}

/*---------------------------------------------------- Intinerary -------*/
#program-container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    max-width:1290px;
    font-size:1.8rem;
    position:relative;
    /*justify-content: flex-start;*/
    /*align-content:center;*/

}

#flex-button {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    align-content:center;
    border-top: 2px solid #B67C66;  
}

#program-download{
    position:absolute;
    top:40px;
    right:5px;
    font-size:0.8em;
}

.butonprogram1 {
    background-color: white; 
    color: black; 
    margin-left: 171px;
    font-size: 75%;
    text-align: center;
    flex-flow: row;
    border: none;
    padding: 10px;
    transition-duration: 0.4s;
    font-family: Montserrat, sans-serif;
}

.butonprogram1:hover,.butonprogram1.active {
    background-color: #F8662A;
    color:#ffffff;
}

.butonprogram2 {
    background-color: white; 
    color: black; 
    font-size: 75%;
    text-align: center;
    flex-flow: row;
    border: none;
    padding: 10px;
    transition-duration: 0.4s;
    font-family: Montserrat, sans-serif;
}

.butonprogram2:hover,.butonprogram2.active {
    background-color: #F8662A;
    color:#ffffff;
}


.content-table{

    border-collapse: collapse;
    font-size: 1.5rem;
    background-color: #FCFCFC;
    padding: 20px;    
    border-bottom: 2px solid #B67C66; 
    /*justify-content:center;*/
    /*align-content:center;*/
    text-align: left;
    float: left;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    width:100%;
}
.content-table tr td{
    /* padding-top:10px;
  vertical-align:top;*/
}

.content-table tr:nth-child(odd){
    border-bottom:solid 2px #ccc;
}
.content-table tr:nth-child(even){
    border-bottom:solid 2px #D0D82E;
}

.content-table tr td:first-of-type{
    width:180px;
    line-height:56px;
}
.panel-span{
    display:block;
    margin-left:57px;
    position:relative;
    top:-5px;
    line-height: 31px;
}
.program-clock{
    margin-right: 26px;
    vertical-align: middle;
    position: relative;
    top: -5px;
}
#small-text{
    font-size: 1.3rem;
    width: 200px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;

}
.program-event-td span{
    display:block;
    color:#92D050;
}
.program-end{
    /*color:#ccc;*/
}
#bold-text{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    width:100%;
}
@media (max-width: 1279px) {
    #program-download{
        position:absolute;
        top:5px;
        right:5px;
        font-size:0.8em;
    }

    #program-container {
        font-size:0.98em;
    }
    #program-container .content-table{
        font-size:0.9rem;
    }
    .content-table tr td:first-of-type{
        width:120px;
        line-height:56px;
    }
    .panel-span{
        margin-left:42px;
    }
    .program-clock{
        margin-right: 10px;
        vertical-align: middle;
        position: relative;
        top: -5px;
    }
    #program-container h1{
        font-size:0.9em;
    }
    #flex-button {
        margin-top: 10px;

    }
}

@media(max-width: 624px) {

    .butonprogram1 {
        margin-left: 0px;
    }

    .butonprogram1:hover {
        margin-left: 0px;
    }
}   


/*---------------------------------------------------- About -------*/

/*----------------------------------------------------Speakers-----*/
#speakers-container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    max-width:1290px;
    font-size:1.8rem;
    flex-wrap:wrap;
}
@media only screen and (max-width: 1279px) {
    #about-container{
        font-size:0.8rem;
    }

}

/*---------------------------------------------------- Sponsors -------*/
#sponsors-container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    max-width:1290px;
    font-size:1.8rem;
    display:flex;
    flex-wrap: wrap;
}
#sponsors-info{
    max-width:1279px;
    width:75%;
}
#sponsors-contact{
    margin-top: 193px;
}

@media only screen and (max-width: 1279px) {
    #sponsors-container{
        font-size:1rem;
    }
    #sponsors-container h1{
        font-size:27px;
    }
    #sponsors-contact{
        margin-top: 0;
    }
    #sponsors-contact h2{
        margin-top: 0;
        margin-bottom: 0;
    }
}

/*---------------------------------------------------- logos -------*/

#sponsortitle{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    max-width:1290px;
    font-size:300%;
    color: #D0D82E;
    margin-bottom: 3%;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center
}


#sponsors-containerr{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1.5%;
    max-width:1290px;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center

}

#sponsors-containerr2{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    max-width:1290px;
    margin-bottom: 1.5%;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


#sponsors-containerr3{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    max-width:1290px;
    margin-bottom: 1.5%;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.logos-container{
    width:20%;
    align-items: center;
    justify-content: center;
}

.m{
    width:24%;
    align-items: center;
    justify-content: center;
    padding-left: 4%;
}

.s{
    width:20%;
    align-items: center;
    justify-content: center;
    padding-right: 4%;
}

.logos-container2{
    width:10%;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.logos-container2dl{
    width:13.5%;
    align-items: center;
    justify-content: center;
    padding-right: 1.7%;

}

.logos-containerd{
    width:12%;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
    padding-left: 1%;
}

.logos-containerdf{
    width:12%;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
}

.logos-containerI{
    width:10%;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
}

.logos-containerLl{
    width:15%;
    align-items: center;
    justify-content: center;
    padding-right: 4%;
}

.logos-containerrac{
    width:10%;
    align-items: center;
    justify-content: center;

}

.logos-container3{
    width:6%;
    align-items: center;
    justify-content: center;
    margin-right: 3%; 
    margin-bottom: 10%;
}

.logos-container3nn{
    width:13%;
    align-items: center;
    justify-content: center;
    margin-right: 3%; 
    margin-bottom: 10%;
}

.logos-container3n{
    width:12%;
    align-items: center;
    justify-content: center;
    margin-right: 3%; 
    margin-bottom: 10%;
}

.linesponsor {
    width: 100%; 
    height: 2px; 
    align: center;
    background: orange;

}


@media (max-width: 900px) {

    #sponsortitle{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        max-width:1290px;
        font-size:200%;
        color: #D0D82E;
        margin-bottom: 5%;
        display:flex;
        flex-wrap: wrap;
        text-align: center;
        align-content: center;
        justify-content: center;
        align-items: center
    }

    .logos-container{
        width:20%;
        align-items: center;
        justify-content: center;
    }   

    .m{
        width:27%;
        align-items: center;
        justify-content: center;  
    }

    .logos-container2{
        width:11%;
        align-items: center;
        justify-content: center;
        margin-right: 3%;
    }


    .logos-containerd{
        width:12%;
        align-items: center;
        justify-content: center;
        margin-right: 3%;
    }

    .logos-container3{
        width:6%;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
    }

}



@media (max-width: 700px) {


    #sponsortitle{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        max-width:1290px;
        font-size:180%;
        color: #D0D82E;
        margin-bottom: 5%;
        display:flex;
        flex-wrap: wrap;
        text-align: center;
        align-content: center;
        justify-content: center;
        align-items: center
    }

    #sponsors-containerr3{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        max-width:1290px;
        margin-bottom: 1.5%;
        display:flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: left;
        align-items: center;
        margin-left: 30%;
    } 


    .logos-container{
        width:25%;
        align-items: center;
        justify-content: center;
    }   

    .m{
        width:30%;
        align-items: center;
        justify-content: center;  
    }


    .logos-container2{
        width:15%;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-top: 2%;
    }

    .logos-containerd{
        width:13%;
        align-items: center;
        justify-content: center; 
        margin-left: 5%;
    }

    .logos-container2dl{
        width:18%;
        align-items: center;
        justify-content: center;
        padding-right: 3%;
        margin-left: 5%;
    }

    .logos-containerdf{
        width:15%;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        padding-right: 8%;
    }

    .logos-containerI{
        width:15%;
        align-items: center;
        justify-content: center;
        padding-right: 2.1%;
    }

    .logos-containerLl{
        width:15%;
        align-items: center;
        justify-content: center;
        padding-left: 6%;
        margin-top: 2%;
    }

    .logos-containerrac{
        width:15%;
        align-items: center;
        justify-content: center;
        padding-left: 10%;
        margin-top: 2%;
    }

    .logos-container3n{
        width:11%;
        align-items: center;
        justify-content: center;

    }

    .logos-container3{
        width:9%;
        align-items: center;
        justify-content: center;

    }

}



/*---------------------------------------------------- Contact --------*/
#contact-panel{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    max-width: 805px;
    background-color: #EEEEEC;
    margin-top:96px;
    box-sizing:border-box;
    padding:30px;
    position:relative;
    font-size:1.5em;
}
#contact-paper-plane{
    position:absolute;
    right:30px;
    bottom:30px;
}
#contact-panel td{
    vertical-align:top;
    padding-right:30px;
    line-height:40px
}
#contact-encuentro-logo{
    width:calc(100% - 30px);
    max-width: 300px;
}
@media only screen and (max-width: 1279px) {
    #contact-panel{
        width:100%;
        font-size:1em;
        margin-top:0;
    }
    #contact-paper-plane{
        display:none;
    }
    .contact-icon{
        width:16px;
    }
    #contact-panel td{
        padding-right:15px;
        line-height:30px
    }
}
/*---------------------------------------------------- Register -------*/
#register-form{
    margin-left: 500px;
    display: inline-block;
    width: 470px;
    float: left;
    margin-bottom: 78px;
    position: absolute;
    margin-top: 11%;
}

#reg-notes{
    font-size: 0.8em;
}

#register-form input,#register-form select{
    border-radius: 5px;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    width: 450px;
    margin: 6px;
    margin-left: 0px;
    margin-right: 20px;
    box-sizing: border-box;
    padding-left: 26px;
    background: #F2F2F2;
    color: #000000;
    font-family: Montserrat, sans-serif;
}
::placeholder{
    color:#000000;
}
#register-name, #register-lastname{
    /* width:305px!important;*/
}
#register-gender, #register-age {
    width: 269px!important;
}
#register-form h2{
color: #58595B;
    font-size: 1.5em;
    margin-top: -7%;
    position: absolute;
    /* margin-left: 0%;*/
}
/*
#register-country,#register-company,#register-position{
    width:269px!important;
}*/

/*@media only screen and (min-width: 1279px) and (max-width:1366px) {

    #encuentro-logo{
        margin-left:10%;
    }
    #register-form{
        margin-left:10%;
    }
}*/


#register-button-container{
    width:100%;
    text-align:center;
    margin-top:30px;
}
#register-button{
    background: #EF5822;
    color: #ffffff;
    border: none;
    border-radius: 22px;
    text-align: center;
    height: 45px;
    width: 206px;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    box-sizing: border-box;
    margin-right: 20%;
}
#register-button:hover, #register-button:active{
    border: solid 1px #000000;
}
#register-checkboxes{
    margin-left:0px;
    margin-top:20px;
}
.register-checkbox{
    width:24px;
    height:24px;
    background:#ffffff;
    border: solid 2px #58595B;
    border-radius:0;
    display:inline-block;
    box-sizing:border-box;
    margin-right: 0px;
    margin-left: 25px;
    cursor:pointer;
}

.register-checkbox2{
    width:24px;
    height:24px;
    background:#ffffff;
    border: solid 2px #D0D82E;
    border-radius:0;
    display:inline-block;
    box-sizing:border-box;
    margin-right:20px;
    cursor:pointer;
}

.register-checkbox.active{
    background:#58100B;
    border: solid 2px #000000;
}
.register-checkbox input{
    opacity: 0;
    width: 100%!important;
    height: 100%!important;
    pointer-events: none;
    margin:0;
    padding:0;
    display:block;
}
.register-checkbox-container{
    text-align:right;
    vertical-align: top;
}
.register-text{
    position: relative;
    font-size: 15px;
    display: inline-block;
    /*width: calc(100% - 25px);*/
    text-align: justify;
    color: #58595B;
}

.view-more{
    color:#D0D82E;
    cursor:pointer;
    user-select: none;
}

#register-agreement-hidden{
    display:none;
}
#register-email-validate{
    color:#ff0000;
}
.calendar-link{
    margin-right:56px;
}



@media only screen and (max-width: 1279px) {
    /*#register-form{
        margin-top:48px;
        margin-left:10vw;
        width:80vw;
        display:inline-block;
        float:left;
    }*/
    /*#register-form h2{
        font-size: 1.8em;
        margin-top: 0;
    }*/
    /*#register-form input,#register-form select{
        width:80vw!important;
    }*/
   /* #register-button{
        width:80vw!important;
    }*/
   /* #footer-powered{
        position:relative;
        top:0;
        left:0;
    }*/
    #register-checkboxes{
        margin-left:0;
        margin-top:20px;
    }
    .register-text{
        position: relative;
        top: 2px;
        font-size: 15px;
        display: inline-block;
        width: 80%;
        margin-left: 19px;
    }
}
/*------------------------------- Landing ----*/
#landing-savethedate{
    position:relative;
    width:100vw;
    text-align: center;
    color: #000000;
    margin-top: 5%;
}
#landing-title{
    width:80%;
    max-width:734px;
    user-select: none;
    pointer-events: none;
    margin-top:120px;
    margin-left:auto;
    margin-right:auto;
    user-select: none;
}
#landing-title img{
    user-select: none;
}
#landing-proximamemnte{
    margin-top:72px;
    text-transform: uppercase;
    font-size:55px;
    user-select: none;
}

#landing-registro{
    background:#D0D82E;
    color:#ffffff;
    border:none;
    border-radius:15px;
    text-align:center;
    height:45px;
    line-height:45px;
    width:150px;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    display:inline-block;
    box-sizing: border-box;
    margin-top:10px;
}
#landing-hashtag{
    margin-top:10px;
    font-size: 30px;
}

#landing-counter{
    position:relative;
    width:100%;
    margin-top:42px;
    user-select: none;
}


.landing-counter-hexagon{
    display:inline-block;
    position: relative;
}

.landing-counter-hexagon img{
    width:20vw;
    max-width: 97px;
    pointer-events: none;
}

.landing-counter-label{
    position:absolute;
    top:100%;
    width:100%;
    text-align:center;
}
.landing-counter-number{
    position:absolute;
    margin:0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.7rem;
    color:#53575A;
}


#landing-email{
    color: #ffffff;
    border: none;
    border-radius: 33px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    width: 350px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 0px;
    display: block;
    margin-left: calc(50% - 175px);
    display: none;
    background-color: #E42D2E;
}
#landing-email.block{
    display:block;
}

#landing-enter{
    background: #EF5822;
    color: #ffffff;
    border: none;
    border-radius: 26px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    width: 170px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 20px;
    display: none;
    cursor: pointer;
}
#landing-enter.block{
    display: inline-block;
}


@media only screen and (max-width: 720px) {
    #landing-title{
        margin-top:35px;

    }
    #landing-proximamemnte{
        margin-top:35px;
        font-size:1cm;
    }

}

.lang{
    display:none;
}

@media only screen and (max-width: 1100px){

    #encuentro-logo-std{
    width: 350px;
    height: 294px;
    margin-top: 19%;
}

    #email-container{
        margin-left: 500px;
    }

}

@media only screen and (max-width: 860px){

    #encuentro-logo-std{
    margin-top: 26px;
}

    #email-container{
    margin-left:105px;
    margin-top: 296px;
}

#coca {
    margin-top: 22px;
}
}

@media only screen and (max-width: 500px){

#encuentro-logo-std{
width: 238px;
height: 200px;
margin-top: 57px;
margin-left: 70px;
}

#email-container{
        margin-left: 6px;
        margin-top: 252px;
}

#landing-email{
    height: 45px;
    line-height: 45px;
    width: 300px;
    margin-left: 28px;
}

#landing-enter{
    background: #EF5822;
    color: #ffffff;
    border: none;
    border-radius: 26px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    width: 170px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 20px;
    display: none;
    cursor: pointer;
    margin-left: 37px;
}

#coca{
    width: 238px;
    height: 104px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/coca.svg);
    /* position: absolute; */
    float: left;
    margin-left: 65px;
    margin-top: 30px;
}
}

@media only screen and (max-width: 860px){

    #footer-powered {
        opacity: 0;
        }
        

    #encuentro-logo{
    width: 295px;
    height: 249px;
    margin-left: 155px;
    margin-top: 110px;
    }

    #encuentro-logo2{
        width: 295px;
        height: 249px;
        margin-left: 155px;
        margin-top: 110px;
        }
    

    #register-form h2 {
        margin-top: -30px;
    }
    
    #register-form input, #register-form select{
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    width: 450px;
    margin: 6px;
    margin-left: 0px;
    margin-right: 20px;
    }

    #register-form{
    
        margin-left: 70px;
        display: inline-block;
        width: 470px;
        float: left;
        margin-bottom: 78px;
         position: relative; 
        margin-top: 410px;        
    }

    #success-window-content {
        position: absolute;
        top: 140px;
        left: 7px;
        width: 475px;
    }

    #success-window {
        position: relative;
        margin-left: 25px;
        margin-top: 390px;
    }
}

@media only screen and (max-width: 530px){

    #encuentro-logo{
    width: 295px;
    height: 249px;
    margin-left: 40px;
    margin-top: 100px;
}

#encuentro-logo2{
opacity: 0;
}

#register-form{
margin-left: 16px;
width: 320px;
margin-bottom: 78px;
margin-top: 410px;
}

#register-form input, #register-form select{
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    width: 300px;
    margin: 6px;
    margin-left: 0px;
    margin-right: 20px;
}

#success-window-content{
position: absolute;
top: 84px;
left: 7px;
width: 292px;
margin-bottom: 272px;
}

#success-window{
width: calc(88vw - 60px);
/* height: calc(100vw - 60px); */
height: 335px;
}


#footer-powered {
opacity: 0;
}

footer{
    font-size: 6px;
}

}

@media only screen and (max-width: 300px){

    #encuentro-logo-std {
        width: 238px;
        height: 160px;
        margin-top: 100px;
        margin-left: 70px;
    }
        
    #email-container {
        margin-left: -11px;
        margin-top: 278px;
        width: 300px;
    }

    #landing-email {
        height: 45px;
        line-height: 45px;
        width: 230px;
        margin-left: 39px;
    }

    #landing-enter {
        background: #EF5822;
        color: #ffffff;
        border: none;
        border-radius: 26px;
        text-align: center;
        height: 45px;
        line-height: 45px;
        width: 129px;
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        display: inline-block;
        box-sizing: border-box;
        margin-top: 20px;
        display: none;
        cursor: pointer;
        margin-left: 0px;
    }

    #coca {
        width: 238px;
        height: 104px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../img/coca.svg);
        /* position: absolute; */
        float: left;
        margin-left: 37px;
        margin-top: 40px;
    }
    
    #encuentro-logo {
        width: 295px;
        height: 191px;
        margin-left: 40px;
        margin-top: 130px;
    }

    #register-form {
        margin-left: 16px;
        width: 265px;
        margin-bottom: 78px;
        margin-top: 410px;
    }

    #register-form input, #register-form select {
        height: 46px;
        line-height: 46px;
        font-size: 20px;
        width: 241px;
        margin: 6px;
        margin-left: 0px;
        margin-right: 20px;
    }

    #success-window-content {
        position: absolute;
        top: 84px;
        left: 7px;
        width: 260px;
        margin-bottom: 272px;
    }

    #success-window {
        width: calc(88vw - 60px);
        /* height: calc(100vw - 60px); */
        height: 400px;
    }

    }