
/* 
    Created on : 2/08/2020, 09:11:44 PM
    Author     : oscar
*/

@font-face{
    font-family: Gidole;
    src: url(../font/Gidole-Regular.ttf);
}

@font-face{
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

html,body{
    position:absolute;
    width:100vw;
    height: 100vh;
    padding:0;
    margin:0;
    font-family: Gidole, Montserrat, sans-serif;
    background:#0F1528;
}
body{
    background-image: url(../img/amis-background.png);
    background-size:cover;
    background-repeat:no-repeat;
}


#landing-savethedate{
    position:relative;
    width:100vw;
    text-align: center;
    color:#ffffff;
}
#landing-title{
    width:80%;
    max-width:734px;
    user-select: none;
    pointer-events: none;
    margin-top:120px;
    margin-left:auto;
    margin-right:auto;
    user-select: none;
}
#landing-title img{
    user-select: none;
}
#landing-proximamemnte{
    margin-top:72px;
    text-transform: uppercase;
    font-size:55px;
    user-select: none;
}

#landing-registro{
    background:#FF671D;
    color:#ffffff;
    border:none;
    border-radius:15px;
    text-align:center;
    height:45px;
    line-height:45px;
    width:150px;
    font-family: Gidole, Montserrat, sans-serif;
    font-size: 30px;
    display:inline-block;
    box-sizing: border-box;
    margin-top:10px;
}
#landing-hashtag{
    margin-top:10px;
    font-size: 30px;
}

#landing-counter{
    position:relative;
    width:100%;
    margin-top:42px;
    user-select: none;
}


.landing-counter-hexagon{
    display:inline-block;
    position: relative;
}

.landing-counter-hexagon img{
    width:20vw;
    max-width: 97px;
    pointer-events: none;
}

.landing-counter-label{
    position:absolute;
    top:100%;
    width:100%;
    text-align:center;
}
.landing-counter-number{
    position:absolute;
    margin:0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.7rem;
    color:#53575A;
}


@media only screen and (max-width: 720px) {
    #landing-title{
        margin-top:35px;

    }
    #landing-proximamemnte{
        margin-top:35px;
        font-size:1cm;
    }

}