  
  
<!--div id="encuentro-logo"></div>-->
<div id="encuentro-logo2"></div>
<div id="success-window">

    <div id="success-window-content">
        
        <p>
        Your registration for the Safety Summit 2022 is complete.
        </p>
        <p>
            To make your entry easier and faster this Frebruary 23 & 24, click on the direct acces link:<br>
            <a id="liga-a" class="red">safetysummit2022.lat/lobby/#/<span id="liga-id"></span></a>
        </p>

        <h3 class="red">Register data</h3>
        Name: <strong id="reg-name" class="red"></strong><br>
        Access Key / User: <strong id="reg-email" class="red"></strong><br>
        Confirmation ID: <strong id="reg-id" class="red"></strong><br>
        <br>
        Add us to your calendar 
        <a class="calendar-link" id="liga-cal-google"><img src="../img/calendar.png" alt="Agenda"></a>
    </div>
</div>
