<div id="about-container" class="container main-container">
    <h1>
    <span class="lang lang-es">Acerca de</span>
    <span class="lang lang-en">About</span>
    </h1>
    <p>
        <span class="lang lang-es">
        La crisis sanitaria causada por COVID-19 ha generado un fuerte impacto no sólo en el ámbito de 
        salud, también en el económico, social, laboral y tecnológico.
        </span>
        <span class="lang lang-en">
        The health crisis caused by COVID-19 has generated a strong impact not only in the health field,
        but also in the economic, social, labor and technological fields.    
        </span>
    </p>
    <p>
        <span class="lang lang-es">
        Ante los riesgos emergentes el seguro brinda a las familias, las empresas y las instituciones 
        protección financiera para afrontar el impacto de estas contingencias e incrementar su 
        resiliencia.
        </span>
        <span class="lang lang-en">
         With the emerging risks, insurance provides families, companies and institutions with financial
         protection to face the impact of these contingencies and increase their resilience.   
        </span>
    </p>
    <p>
        <span class="lang lang-es">
        Por ello, organizamos el <span class="orange">“Encuentro Digital, COVID -19: Perspectivas del Sector Asegurador Mexicano”</span>,
        un espacio virtual para analizar el impacto de la pandemia en la industria, generar 
        propuestas, fortalecer la gestión de riesgos y contribuir a la reactivación económica de México.
        </span>
        <span class="lang lang-en">
         Therefore, we organized the "Digital Meeting, <span class="orange">COVID -19: Perspectives of the Mexican Insurance Sector"</span>, a virtual space to analyze
         the pandemic impact on the industry, generate proposals, strengthen risk management and contribute to the economic reactivation of Mexico.   
        </span>
    </p>
</div>
