<div id="contact-container" class="container main-container">
    <div id="contact-panel">
        <div id="success-window-title">
            <img id="contact-encuentro-logo" src="img/encuentro-logo.png" alt="">
        </div><br><br>
        <table>
            <tr>
                <td><img class="contact-icon" src="img/phone.png" alt=""/></td>
                <td>
                    <a href="tel:+525554800646">+52 (55) 54.80.06.46</a>
                </td>
            </tr>
            <tr>
                <td><img class="contact-icon" src="img/mail.png" alt=""></td>
                <td>
                    <span class="lang lang-es"><span class="">Información del evento:</span> <a class="" href="mailto:contacto@amis.com.mx">contacto@amis.com.mx</a></span>
                    <span class="lang lang-en"><span class="">Event information: </span><a class="" href="mailto:contacto@amis.com.mx">contacto@amis.com.mx</a></span>
                    <br>
                    <span class="lang lang-es"><span class="">Patrocinios:</span> <a class="" href="mailto:dussel@amis.com.mx">dussel@amis.com.mx</a></span>
                    <span class="lang lang-en"><span class="">Sponsorships:</span><a class="" href="mailto:dussel@amis.com.mx">dussel@amis.com.mx</a></span>   
                    <br>
                    <span class="lang lang-es"><span class="">Prensa:</span> <a class="" href="mailto:abonilla@amis.com.mx">abonilla@amis.com.mx</a> ó </span>
                    <span class="lang lang-en"><span class="">Press:</span><a class="" href="mailto:abonilla@amis.com.mx">abonilla@amis.com.mx</a> or </span>
                    <br> 
                    <span class="lang lang-es"><a class="" href="mailto:crojas@contactoenmedios.com.mx">crojas@contactoenmedios.com.mx</a></span>
                    <span class="lang lang-en"><span class=""></span><a class="" href="mailto:crojas@contactoenmedios.com.mx">crojas@contactoenmedios.com.mx</a></span>
                    <br>
                    <span class="lang lang-es"><span class="">Soporte Técnico:</span><a class="" href="mailto:soporte@showpoint.com.mxx">soporte@showpoint.com.mx</a></span>
                    <span class="lang lang-en"><span class="">Technical Support:</span><a class="" href="mailto:soporte@showpoint.com.mxx">soporte@showpoint.com.mx</a></span>
                    <br>
                </td></tr>
        </table>
        <img id="contact-paper-plane" src="img/paper-plane.png" alt="">
    </div>
</div>
