
<div id="register-container" class="container main-container">
    
    
    <!--<div id="home-icon"></div>
    <div id="encuentro-logo"></div>
    <form id="register-form" class="home-form" action="#" method="post">
         <br>
        <div id="home-directions">Ingresa con tu correo para acceder al evento
        </div>
         <br>
        <div id="home-email">
            <input type="email" id="home-email-input" placeholder="EMAIL" required>
            <button id="landing-enter" type="submit"></button>
        </div>
        <br> <br> <br>
        Si aún no te has registrado, hazlo aquí
        <br>
        <div id="register-button-container">
            <button id="home-register-button" type="button"></button>
        </div>-->
        <META HTTP-EQUIV="REFRESH" CONTENT="0;/#/savethedate">

    </form>

</div>

