<div id="sponsors-container" class="container main-container">
    <div id="sponsors-info">
        <h1>
            <span class="lang lang-es">Patrocinadores</span>
            <span class="lang lang-en">Sponsors</span>
        </h1>

        <h2>
        <span class="lang lang-es">CONVIÉRTETE EN <span class="orange">NUESTRO ALIADO ESTRATÉGICO</span></span>
        <span class="lang lang-en">BECOME <span class="orange">OUR STRATEGIC PARTNER</span></span>
        </h2>
        <p>
            <span class="lang lang-es">Tu marca tendrá presencia frente a:</span>
            <span class="lang lang-en">Your brand will have a presence in front of:</span>
        </p>
        <ul>
            <li>
                <span class="lang lang-es">Líderes del sector asegurador.</span>
                <span class="lang lang-en">Insurance leaders</span>
            </li>
            <li>
                <span class="lang lang-es">Altos ejecutivos del sector público y privado.</span>
                <span class="lang lang-en">Senior executives from the public and private sectors.</span>
            </li>
            <li>
                <span class="lang lang-es">Conferencistas nacionales y extranjeros.</span>
                <span class="lang lang-en">National and foreign speakers.</span>
            </li>
            <li>
                <span class="lang lang-es">Paneles de expertos</span>
                <span class="lang lang-en">Expert panels</span>
            </li>
            <li>
                <span class="lang lang-es">Periodistas de la fuente financiera nacional e internacional.</span>
                <span class="lang lang-en">National and international financial journalists.</span>
            </li>
        </ul>
        <p>
            <a href="/documents/Patrocinios.pdf" target="amis_sponsors">
                <span class="lang lang-es">Descarga el esquema de patrocinios</span>
                <span class="lang lang-en">Download the sponsorship scheme</span>
            </a>
        </p>
    </div>
    <div id="sponsors-contact">
        <h2>
            <span class="lang lang-es">Contacto</span>
            <span class="lang lang-en">Contact</span>    
        </h2>
        <p>
            <span class="">Denise Ussel</span><br>
            <a class="" href="tel:+525554800699">+52 (55) 54.80.06.99</a><br>
            <a class="" href="mailto:dussel@amis.com.mx">dussel@amis.com.mx</a><br>
        </p>
    </div>
</div>
