
<div id="program-container" class="container main-container">
    <h1>Programa</h1>
    <a id="program-download" href="documents/EncuentroDigital_Programa.pdf" target="_blank">Descargar programa <img src="../../img/download.png" alt="Descargar"></a>
    
    <!----------------------------------------------------------------------------------> 
    <div>
        <!--------------------------------------------------------------------------------->     

   
        <div  id="flex-button" align="left">
            <button class="butonprogram1 program-2020-09-21">
                LUNES
                <br> 21 DE SEPTIEMBRE
            </button>
            <button class="butonprogram2 program-2020-09-22">
                MARTES
                <br>  22 DE SEPTIEMBRE
            </button>
        </div>      


        <table class="content-table" id="program-table">
            <tbody></tbody>
          
        </table>



    </div>        

</div>
