
<div id="encuentro-logo"></div>
<div id="register-container" class="container main-container">
    <form id="register-form" action="#" method="post">
        <h2>
            <span class="lang lang-es">Online registration</span>
        </h2>
        <input id="register-name"  class="lang-placeholder" maxlength=100  pattern="^[a-zA-Z\u00C0-\u00FF- ]*$" minlength="2" name="name" data-placeholder-langes="Name*" data-placeholder-langen="Name*" type="text" placeholder="Name*" required>
        <br>
        <input id="register-email" maxlength=254 name="email"  type="email" placeholder="Email*" required><spam id= "mail"></spam><span id="register-email-validate"></span>
        <br>
        <input id="register-company" class="lang-placeholder register-conditioned"  minlength="2" name="company" type="text" data-placeholder-langes="Company*" data-placeholder-langen="Company*" placeholder="Company*" required="">

        <input id="register-position" class="lang-placeholder register-conditioned" maxlength="64" minlength="2" name="position" type="text" data-placeholder-langes="Position*" data-placeholder-langen="Position*" placeholder="Position*" required="">

        <input id="register-phone" class="lang-placeholder register-conditioned"  minlength="2" name="Phone" type="text" data-placeholder-langes="Phone number*" data-placeholder-langen="Phone number*" placeholder="Phone number*" required="">

        <input id="register-region" class="lang-placeholder register-conditioned"  minlength="2" name="country" type="text" data-placeholder-langes="Country*" data-placeholder-langen="Country*" placeholder="Country*" required="">
        <p></p>
            <div id="reg-notes">(*) Requiered info</div>
            <div id="register-button-container"></div>
                <span class="lang lang-es"><button id="register-button" type="submit">REGISTER</button></span>
                <span class="lang lang-en"><button id="register-button" type="submit">REGISTER</button></span>
                <p></p>
                <div id="reg-notes">By registering your data you are accepting the terms of the <a target="_blank" href="documents/avisodeprivacidadcocacolamx.pdf">privacy notice*</a></div>
            </div>
            <br>

        </form>
        </div>
        </body>
        <!-- </table>-->
       <!-- <input id="register-lastname" class="lang-placeholder" maxlength=32 pattern="^[a-zA-Z\u00C0-\u00FF- ]*$" minlength="2" type="text" data-placeholder-langes="Apellidos*" data-placeholder-langen="Last name*" placeholder="Apellidos" required>-->
       <!-- <br> -->     
        
       <!-- <input id="register-email2" maxlength=254 name="email"  type="email" placeholder="Confirmar correo electrónico" required><span id="register-email-validate"></span>-->
       <!-- <span id="register-email-confirm" class="green"></span>-->
        <!--<br>-->
      <!--  <select id="register-sector"  minlength="2" name="sector" class="register-input" >      
            <option value="" class="intl-text lang-html" data-intl-text="label_countryselect" data-html-langes="País*" data-html-langen="Country*" selected disabled>
                Sector al que perteneces*
            </option>
            <option value="Pu">Público</option>
            <option value="Pr">Privado</option>
            <option value="Ed">Educativo</option>
            <option value="SC">Sociedad civil</option>
            <option value="_">Otro</option>
        </select>-->
        <!--<input id="register-sector"  minlength="2" name="sector" type="tex" class="register-input" placeholder="_*" value="_">-->


        
       <!-- <select id="register-position" class="register-input  register-conditioned" name="reg-position"  required>      
            <option value="" selected disabled>
                Cargo*
            </option>
            <option>Presidente</option>
            <option>Director</option>
            <option>Subdirector</option>
            <option>Gerente</option>
            <option>Coordinador</option>
            <option>Subgerente</option>
            <option>Administrador</option>
            <option>Jefe de Departamento</option>
            <option>Ejecutivo</option>
            <option>Otro</option>
        </select>-->

      <!--  <select id="register-private" class="register-input  register-conditioned" name="reg-private"  required>      
            <option value="" selected disabled>
                Ramo*
            </option>
            <option>Organismos del Consejo Coordinador Empresarial</option>
            <option>Financiero</option>
            <option>Compañías de seguros</option>
            <option>Consultorías</option>
            <option>Servicios de Asistencia</option>
            <option>Agentes/promotores/brokers/asesores</option>
            <option>Otro</option>
        </select>-->


        <!--<select id="register-university" class="register-input  register-conditioned" name="reg-university"  required>      
            <option value="" selected disabled>
                ¿A qué universidad asistes?*
            </option>
            <option>CENTRO UNIVERSITARIO DE CIENCIAS ECONÓMICO ADMINISTRATIVA</option>
            <option>CETYS UNIVERSIDAD</option>
            <option>ESDIE</option>
            <option>GRUPO NÚÑEZ FRAGOSO</option>
            <option>GRUPO UNIVERSITARIO MODELO</option>
            <option>INSTITUTO BRIMA</option>
            <option>INSTITUTO COMERCIAL BANCARIO</option>
            <option>INSTITUTO DE CIENCIAS Y EDUCACIÓN SUPERIOR</option>
            <option>INSTITUTO DE CIENCIAS Y ESTUDIOS SUPERIORES</option>
            <option>INSTITUTO DE ESTUDIOS AVANZADOS SIGLO XXI</option>
            <option>INSTITUTO DE ESTUDIOS SUPERIORES</option>
            <option>INSTITUTO DE ESTUDIOS SUPERIORES  EN ARQUITECTURA Y DISEÑO</option>
            <option>INSTITUTO DE ESTUDIOS SUPERIORES DE CHIAPAS (UNIVERSIDAD SALAZAR)</option>
            <option>INSTITUTO DE ESTUDIOS SUPERIORES DE OAXACA</option>
            <option>INSTITUTO DE ESTUDIOS SUPERIORES DE TAMAULIPAS</option>
            <option>INSTITUTO DE ESTUDIOS SUPERIORES DEL COLEGIO HOLANDÉS</option>
            <option>INSTITUTO DE ESTUDIOS UNIVERSITARIO (IEU)</option>
            <option>INSTITUTO DE INVESTIGACIÓN EN COMUNICACIÓN Y CULTURA (ICONOS)</option>
            <option>INSTITUTO DE MERCADOTECNIA Y PUBLICIDAD</option>
            <option>INSTITUTO EDUCATIVO PANAMERICANO</option>
            <option>INSTITUTO LAS AMÉRICAS DE NAYARIT</option>
            <option>INSTITUTO MIXTECO DE EDUCACIÓN INTEGRAL</option>
            <option>INSTITUTO POLÍTECNICO NACIONAL</option>
            <option>INSTITUTO PROFESIONAL DE ARTE Y DISEÑO</option>
            <option>INSTITUTO TECNOLÓGICO LATINOAMERICANO</option>
            <option>INSTITUTO TECNOLÓGICO SUPERIOR PROGRESO</option>
            <option>INSTITUTO TECNOLÓGICO Y DE ESTUDIOS SUPERIORES DE MONTERREY</option>
            <option>INSTITUTO TECNOLÓGICO Y DE ESTUDIOS SUPERIORES DE OCCIDENTE</option>
            <option>INSTITUTO UNIVERSITARIO AMERIKE</option>
            <option>INSTITUTO UNIVERSITARIO DEL ESTADO DE MÉXICO</option>
            <option>INSTITUTO UNIVERSITARIO FRANCO INGLÉS DE MÉXICO</option>
            <option>INSTITUTO UNIVERSITARIO PUEBLA</option>
            <option>LICEO UNIVERSIDAD PEDRO DE GANTE</option>
            <option>SAE INSTITUTE MÉXICO</option>
            <option>TECNOLÓGICO NACIONAL DE MÉXICO</option>
            <option>UANE</option>
            <option>UNEA</option>
            <option>UNICA UNIVERSIDAD</option>
            <option>UNIVERSIDAD  ALVA EDISON</option>
            <option>UNIVERSIDAD  AUTÓNOMA DE DURANGO</option>
            <option>UNIVERSIDAD  AUTÓNOMA DE GUERRERO</option>
            <option>UNIVERSIDAD  AUTÓNOMA DE OCCIDENTE</option>
            <option>UNIVERSIDAD  HIPÓCRATES</option>
            <option>UNIVERSIDAD ABIERTA</option>
            <option>UNIVERSIDAD ABIERTA DE TLAXCALA</option>
            <option>UNIVERSIDAD ALBERT EINSTEIN</option>
            <option>UNIVERSIDAD AMÉRICA LATINA</option>
            <option>UNIVERSIDAD AMERICANA DE ACAPULCO</option>
            <option>UNIVERSIDAD AMERICANA DEL NOROESTE</option>
            <option>UNIVERSIDAD ANÁHUAC</option>
            <option>UNIVERSIDAD ANGELÓPOLIS</option>
            <option>UNIVERSIDAD ATENEO DE MONTERREY</option>
            <option>UNIVERSIDAD AUTÓNOMA DE AGUASCALIENTES</option>
            <option>UNIVERSIDAD AUTÓNOMA DE BAJA CALIFORNIA</option>
            <option>UNIVERSIDAD AUTÓNOMA DE CHIHUAHUA</option>
            <option>UNIVERSIDAD AUTÓNOMA DE CIUDAD JUÁREZ</option>
            <option>UNIVERSIDAD AUTÓNOMA DE COAHUILA</option>
            <option>UNIVERSIDAD AUTÓNOMA DE DURANGO</option>
            <option>UNIVERSIDAD AUTÓNOMA DE GUADALAJARA</option>
            <option>UNIVERSIDAD AUTÓNOMA DE LA CIUDAD DE  MÉXICO</option>
            <option>UNIVERSIDAD AUTÓNOMA DE LA LAGUNA</option>
            <option>UNIVERSIDAD AUTÓNOMA DE NAYARIT</option>
            <option>UNIVERSIDAD AUTÓNOMA DE NUEVO LEÓN</option>
            <option>UNIVERSIDAD AUTÓNOMA DE QUERÉTARO</option>
            <option>UNIVERSIDAD AUTÓNOMA DE SAN LUIS POTOSÍ</option>
            <option>UNIVERSIDAD AUTÓNOMA DE SINALOA</option>
            <option>UNIVERSIDAD AUTÓNOMA DE TAMAULIPAS</option>
            <option>UNIVERSIDAD AUTÓNOMA DE VERACRUZ VILLA RICA</option>
            <option>UNIVERSIDAD AUTÓNOMA DEL CARMEN</option>
            <option>UNIVERSIDAD AUTÓNOMA DEL ESTADO DE HIDALGO</option>
            <option>UNIVERSIDAD AUTÓNOMA DEL ESTADO DE MÉXICO</option>
            <option>UNIVERSIDAD AUTÓNOMA DEL ESTADO DE MORELOS</option>
            <option>UNIVERSIDAD AUTÓNOMA DEL NORESTE</option>
            <option>UNIVERSIDAD AUTÓNOMA ESPAÑA DE DURANGO</option>
            <option>UNIVERSIDAD AUTÓNOMA METROPOLITANA</option>
            <option>UNIVERSIDAD CASA BLANCA</option>
            <option>UNIVERSIDAD CELAYA</option>
            <option>UNIVERSIDAD CENTRO DE ESTUDIOS CORTÁZAR</option>
            <option>UNIVERSIDAD CHAPULTEPEC</option>
            <option>UNIVERSIDAD CONTINENTE AMERICANO</option>
            <option>UNIVERSIDAD CORREGIDORA DE QUERÉTARO</option>
            <option>UNIVERSIDAD CRISTÓBAL COLÓN</option>
            <option>UNIVERSIDAD CUAUHNAHUAC</option>
            <option>UNIVERSIDAD CUAUHTÉMOC</option>
            <option>UNIVERSIDAD CUAUTITLÁN IZCALLI</option>
            <option>UNIVERSIDAD CUGS</option>
            <option>UNIVERSIDAD DE AMÉRICA LATINA</option>
            <option>UNIVERSIDAD DE ARTES DIGITALES</option>
            <option>UNIVERSIDAD DE CIENCIAS Y ARTES DE CHIAPAS</option>
            <option>UNIVERSIDAD DE COLIMA</option>
            <option>UNIVERSIDAD DE DURANGO</option>
            <option>UNIVERSIDAD DE ECATEPEC</option>
            <option>UNIVERSIDAD DE ESTUDIOS AVANZADOS (UNEA)</option>
            <option>UNIVERSIDAD DE GUADALAJARA</option>
            <option>UNIVERSIDAD DE GUANAJUATO</option>
            <option>UNIVERSIDAD DE LA COMUNICACIÓN</option>
            <option>UNIVERSIDAD DE LA REPÚBLICA MEXICANA</option>
            <option>UNIVERSIDAD DE LA VERA-CRUZ</option>
            <option>UNIVERSIDAD DE LAS AMÉRICAS</option>
            <option>UNIVERSIDAD DE LAS CALIFORNIAS INTERNACIONAL</option>
            <option>UNIVERSIDAD DE LEÓN</option>
            <option>UNIVERSIDAD DE LONDRES</option>
            <option>UNIVERSIDAD DE LOS ÁNGELES</option>
            <option>UNIVERSIDAD DE MONTEMORELOS</option>
            <option>UNIVERSIDAD DE MONTERREY</option>
            <option>UNIVERSIDAD DE MORELIA</option>
            <option>UNIVERSIDAD DE ORIENTE</option>
            <option>UNIVERSIDAD DE SONORA</option>
            <option>UNIVERSIDAD DE TIJUANA</option>
            <option>UNIVERSIDAD DE VALLADOLID YUCATÁN</option>
            <option>UNIVERSIDAD DE XALAPA</option>
            <option>UNIVERSIDAD DE ZAMORA</option>
            <option>UNIVERSIDAD DEL ALTIPLANO</option>
            <option>UNIVERSIDAD DEL CENTRO DE MÉXICO</option>
            <option>UNIVERSIDAD DEL CLAUSTRO DE SOR JUANA</option>
            <option>UNIVERSIDAD DEL DESARROLLO EMPRESARIAL  Y PEDAGÓGICO</option>
            <option>UNIVERSIDAD DEL DESARROLLO PROFESIONAL</option>
            <option>UNIVERSIDAD DEL DISTRITO FEDERAL</option>
            <option>UNIVERSIDAD DEL GOLFO</option>
            <option>UNIVERSIDAD DEL GOLFO DE CALIFORNIA</option>
            <option>UNIVERSIDAD DEL GOLFO DE MÉXICO</option>
            <option>UNIVERSIDAD DEL MAR</option>
            <option>UNIVERSIDAD DEL NORESTE</option>
            <option>UNIVERSIDAD DEL NORTE</option>
            <option>UNIVERSIDAD DEL NUEVO MÉXICO</option>
            <option>UNIVERSIDAD DEL PEDREGAL</option>
            <option>UNIVERSIDAD DEL SURESTE DE MÉXICO</option>
            <option>UNIVERSIDAD DEL TEPEYAC</option>
            <option>UNIVERSIDAD DEL VALLE DE ATEMAJAC</option>
            <option>UNIVERSIDAD DEL VALLE DE CUERNAVACA</option>
            <option>UNIVERSIDAD DEL VALLE DE GRIJALVA</option>
            <option>UNIVERSIDAD DEL VALLE DE MÉXICO</option>
            <option>UNIVERSIDAD DEL VALLE DE ORIZABA</option>
            <option>UNIVERSIDAD DEL VALLE DE PUEBLA</option>
            <option>UNIVERSIDAD DEL VALLE DE TLAXCALA</option>
            <option>UNIVERSIDAD DEL VALLE DE TOLUCA</option>
            <option>UNIVERSIDAD DON VASCO</option>
            <option>UNIVERSIDAD DURANGO SANTANDER</option>
            <option>UNIVERSIDAD ENRIQUE DÍAZ DE LEÓN</option>
            <option>UNIVERSIDAD ESCENA</option>
            <option>UNIVERSIDAD ESCUELA DE ESTUDIOS PROFESIONALES DE ATLIXCO</option>
            <option>UNIVERSIDAD ESPAÑOL</option>
            <option>UNIVERSIDAD ESTATAL DEL VALLE DE ECATEPEC</option>
            <option>UNIVERSIDAD ETAC</option>
            <option>UNIVERSIDAD EURO HISPANOAMERICANA</option>
            <option>UNIVERSIDAD EUROPEA</option>
            <option>UNIVERSIDAD FRANCO MEXICANA</option>
            <option>UNIVERSIDAD FRAY LUCA PACCIOLI</option>
            <option>UNIVERSIDAD GESTALT DE DISEÑO</option>
            <option>UNIVERSIDAD HUMANISTA DE LAS AMÉRICAS</option>
            <option>UNIVERSIDAD IBEROAMERICANA</option>
            <option>UNIVERSIDAD IBEROAMERICANA CENTRO DE EXTENSIÓN SALTILLO</option>
            <option>UNIVERSIDAD ICEL</option>
            <option>UNIVERSIDAD INSURGENTES</option>
            <option>UNIVERSIDAD INTERAMERICANA</option>
            <option>UNIVERSIDAD INTERAMERICANA BENITO JUÁREZ DE OAXACA</option>
            <option>UNIVERSIDAD INTERAMERICANA DEL NORTE</option>
            <option>UNIVERSIDAD INTERAMERICANA PARA EL DESARROLLO</option>
            <option>UNIVERSIDAD INTERCONTINENTAL</option>
            <option>UNIVERSIDAD INTERNACIONAL</option>
            <option>UNIVERSIDAD INTERNACIONAL DE LA PAZ</option>
            <option>UNIVERSIDAD ISTMO AMERICANA</option>
            <option>UNIVERSIDAD IVES</option>
            <option>UNIVERSIDAD JANNETTE KLEIN</option>
            <option>UNIVERSIDAD JESUITA DE GUADALAJARA</option>
            <option>UNIVERSIDAD JUÁREZ AUTÓNOMA DE TABASCO</option>
            <option>UNIVERSIDAD JUSTO SIERRA</option>
            <option>UNIVERSIDAD KINO</option>
            <option>UNIVERSIDAD LA SALLE</option>
            <option>UNIVERSIDAD LASALLISTA BENAVENTE</option>
            <option>UNIVERSIDAD LATINA</option>
            <option>UNIVERSIDAD LATINA DE AMÉRICA</option>
            <option>UNIVERSIDAD LATINA DE MÉXICO</option>
            <option>UNIVERSIDAD LATINOAMERICANA</option>
            <option>UNIVERSIDAD LOYOLA DEL PACÍFICO</option>
            <option>UNIVERSIDAD LUCERNA</option>
            <option>UNIVERSIDAD MADERO</option>
            <option>UNIVERSIDAD MARISTA</option>
            <option>UNIVERSIDAD MARISTA DE GUADALAJARA</option>
            <option>UNIVERSIDAD MARISTA DE MÉRIDA</option>
            <option>UNIVERSIDAD MAYA</option>
            <option>UNIVERSIDAD MAYA DE LAS AMÉRICAS CANCÚN</option>
            <option>UNIVERSIDAD MESOAMERICANA DE SAN AGUSTÍN</option>
            <option>UNIVERSIDAD MESOAMERICANA SIGLO XXI OAXACA</option>
            <option>UNIVERSIDAD METROPOLITANA XALAPA</option>
            <option>UNIVERSIDAD MÉXICO-AMERICANA DEL NORTE</option>
            <option>UNIVERSIDAD MODELO</option>
            <option>UNIVERSIDAD MONDRANGÓN MÉXICO</option>
            <option>UNIVERSIDAD MUNDIAL</option>
            <option>UNIVERSIDAD MUNDO MAYA</option>
            <option>UNIVERSIDAD NACIONAL AUTÓNOMA DE MÉXICO</option>
            <option>UNIVERSIDAD OLMECA</option>
            <option>UNIVERSIDAD OPARÍN</option>
            <option>UNIVERSIDAD ORIENTE DE MÉXICO</option>
            <option>UNIVERSIDAD PABLO GUARDADO CHÁVEZ</option>
            <option>UNIVERSIDAD PANAMERICANA</option>
            <option>UNIVERSIDAD PARA LA PROFESIONALIZACIÓN ESTRATÉGICA</option>
            <option>UNIVERSIDAD POLITÉCNICA DE QUERÉTARO</option>
            <option>UNIVERSIDAD POLITÉCNICA HISPANO MEXICANA</option>
            <option>UNIVERSIDAD POPULAR AUTÓNOMA DEL ESTADO DE PUEBLA</option>
            <option>UNIVERSIDAD POTOSINA</option>
            <option>UNIVERSIDAD PRIVADA DE IRAPUATO</option>
            <option>UNIVERSIDAD QUETZALCÓATL</option>
            <option>UNIVERSIDAD REGIOMONTANA</option>
            <option>UNIVERSIDAD REGIONAL DEL NORTE</option>
            <option>UNIVERSIDAD RIVIERA</option>
            <option>UNIVERSIDAD SALAZAR</option>
            <option>UNIVERSIDAD SALESIANA</option>
            <option>UNIVERSIDAD SAN ÁNGEL</option>
            <option>UNIVERSIDAD SIGLO XXI</option>
            <option>UNIVERSIDAD SIMÓN BOLÍVAR</option>
            <option>UNIVERSIDAD SOTAVENTO</option>
            <option>UNIVERSIDAD TANGAMANGA</option>
            <option>UNIVERSIDAD TECMILENIO</option>
            <option>UNIVERSIDAD TECNOLÓGICA DE MÉXICO</option>
            <option>UNIVERSIDAD TECNOLÓGICA METROPOLITANA</option>
            <option>UNIVERSIDAD TIJUANA</option>
            <option>UNIVERSIDAD TRES CULTURAS</option>
            <option>UNIVERSIDAD UNIVER</option>
            <option>UNIVERSIDAD VASCO DE QUIROGA</option>
            <option>UNIVERSIDAD VERACRUZANA</option>
            <option>UNIVERSIDAD VIZCAYA DE LAS AMÉRICAS</option>
            <option>UPAEP</option>
            <option>Otra</option>
        </select>

        <select id="register-edprofile" class="register-input  register-conditioned" name="reg-edprofile"  required>      
            <option value="" selected disabled>
                Perfil*
            </option>
            <option>Estudiante</option>
            <option>Profesor</option>
            <option>Investigador</option>
            <option>Personal Adminsitrativo</option>
            <option>Otro</option>
        </select>-->
       
        <!--<select id="register-region"  minlength="2" name="country" data-placeholder-langes="País*" data-placeholder-langen="Country*" class=" register-conditioned intl-text register-input" data-intl-placeholder="label_country" name="reg-country"  required>      
            <option value="" class="intl-text lang-html" data-intl-text="label_countryselect" data-html-langes="País*" data-html-langen="Country*" selected disabled>
                Región*
            </option>
            <option value="NA">América del Norte (Canadá, EUA, México)</option>
            <option value="LA">Latinoamérica</option>
            <option value="EU">Europa</option>
            <option value="AF">África</option>
            <option value="AS">Asia</option>

        </select>-->
       
       <!-- <select id="register-age" class="register-input" name="reg-age"  required>      
            <option value="" selected disabled>
                Rango de edad*
            </option>
            <option value="15-20">17 - 20 años</option>
            <option value="21-30">21 - 30 años</option>
            <option value="31-40">31 - 40 años</option>
            <option value="41-50">41 - 50 años</option>
            <option value="51-60">51 - 60 años</option>
            <option value="61+">61 o más años</option>
        </select>
        <select id="register-gender" class="register-input" name="reg-age"  required>      
            <option value="" selected disabled>
                Género*
            </option>
            <option value="Femenino">Femenino</option>
            <option value="Masculino">Masculino</option>
            <option value="-">No especificar</option>
        </select>-->


      <!--  <div id="register-checkboxes">
            <table>
                

                <tr>
                    
                    <td class="register-checkbox-container"><span id="register-day23" class="register-checkbox"><input id="register-privacy-agree-checkbox" type="checkbox" ></input></span></td>

                    <td><div class="register-text"><span id="register-day23-text"> 23 JUNIO</div></td>
                
                    <td class="register-checkbox-container"><span id="register-day24" class="register-checkbox"><input id="register-privacy-agree-checkbox" type="checkbox" ></input></span></td>

                    <td><div class="register-text"><span id="register-day24-text"> 24 JUNIO</div></td>
                
                    <td class="register-checkbox-container"><span id="register-day25" class="register-checkbox"><input id="register-privacy-agree-checkbox" type="checkbox" ></input></span></td>

                    <td><div class="register-text"><span id="register-day25-text"> 25 JUNIO</div></td>
                
                    <td class="register-checkbox-container"><span id="register-day26" class="register-checkbox"><input id="register-privacy-agree-checkbox" type="checkbox" ></input></span></td>

                    <td><div class="register-text"><span id="register-day26-text"> 26 JUNIO</div></td>
                    
                </tr>-->
                
                    
                <!--<tr>
                    <td class="register-checkbox-container"><span id="register-privacy-agree" class="register-checkbox"><input id="register-privacy-agree-checkbox" type="checkbox" required></input></span></td>

                    <td><div class="register-text"><span id="register-privacy-agree-text">He leído, entiendo y acepto los términos del </span><a target="_blank" href="documents/Aviso_de_Privacidad_AMIS.pdf" alt="Aviso de privacidad">aviso de privacidad</a> *</div></td>
                </tr>
                <tr>
                    <td class="register-checkbox-container"><span id="register-share-agree" class="register-checkbox register-radio"><input id="register-share-agree-checkbox" type="radio" name="reqister-share" required></input></span></td>
                    <td>
                        <div class="register-text">
                            <span id="register-share-agree-text">Acepto que los datos recabados sean compartidos con fines estadísticos y de promoción.</span> <span class="view-more">Ver más ▾</span>
                            <span id="register-agreement-hidden">
                                <br>Manifiesto que es mi voluntad y otorgo mi consentimiento, para que los datos recabados en el registro de la 30 Convención de Aseguradores AMIS, sean compartidos con los patrocinadores del evento para fines de prospección comercial, mercadotecnia o para recibir por correo electrónico cualquier tipo de publicidad y promociones de las empresas con las que se compartan mis datos. 
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="register-checkbox-container"><span id="register-share-disagree" class="register-checkbox register-radio"><input id="register-share-disagree-checkbox" type="radio" name="reqister-share" required></input></span></td>
                    <td><div id="register-share-disagree-text" class="register-text">No es mi voluntad que mis datos sean compartidos</div></td>
                </tr>-->
               <!-- <tr>
                    <td class="register-checkbox-container"></td>
                    <td>
                        <span>(*) Campos obligatorios</span>
                    </td>
                </tr> -->
            