<div id="landing-savethedate" class="main-container">
    <div id="encuentro-logo-std"></div>
    <br>
    <P></P>
    <div id="email-container">
    <div>Type your email</div>
    <a id="landing-registro" href="/#/registro" type="submit">
        <span class="lang lang-en">REGISTER</span>
        <span class="lang lang-es">REGISTRO</span></a>
    <br>

    <input id="landing-email" type="email" placeholder="Email">
    <a id="landing-enter">
        ENTER
    </a>
    <br>
    
    <input id="landing-email" type="email" placeholder="Email">
    <a id="landing-enter"> REGISTER </a>
    <div id="error_message"></div>
    <div id="coca"></div>
    </div>
    <div id="register-container"></div>
    <div id="reg-email"></div>
    <br>

    <!--<div id="landing-hashtag">#LiveRiskmathics</div>-->
    <div id="landing-counter">
        <div class="landing-counter-hexagon">
            <img src="img/hexagon.svg"></img>
            <div id="landing-counter-days" class="landing-counter-number"></div>
            <div class="landing-counter-label"><span class="lang lang-en">DAYS</span>
                <span class="lang lang-es">DÍAS</span></div>
        </div>
        <div class="landing-counter-hexagon">
            <img src="img/hexagon.svg"></img>
            <div id="landing-counter-hours" class="landing-counter-number"></div>
            <div class="landing-counter-label"><span class="lang lang-en">HOURS</span>
                <span class="lang lang-es">HORAS</span></div>

        </div>
        <div class="landing-counter-hexagon">
            <img src="img/hexagon.svg"></img>
            <div id="landing-counter-minutes" class="landing-counter-number"></div>
            <div class="landing-counter-label"><span class="lang lang-en">MINUTES</span>
                <span class="lang lang-es">MINUTOS</span></div>

        </div>
        <div class="landing-counter-hexagon">
            <img src="img/hexagon.svg"></img>
            <div id="landing-counter-seconds" class="landing-counter-number"></div>
            <div class="landing-counter-label"><span class="lang lang-en">SECONDS</span>
                <span class="lang lang-es">SEGUNDOS</span></div>
        </div>
    </div>
</div>